
<h1 style="text-align: center;"> Equipment Details</h1>
<!-- <button type="button" class="btn btn-primary"
        style="height: 30px;" (click)="goToBack()">Go Back</button> -->
      
<div style="margin: 5%  0% 0% 20%;text-decoration: underline;">
<h2>{{object.name}}</h2>
</div>

<table class="table table-striped"  style="margin-left:20%;width: 60%;">
   
   <tbody>
     <tr>
       <td>Equipment Category</td>
       <td> {{object.equipment_category}}</td>
     </tr>
     <tr>
       <td>Gear Category</td>
       <td>{{object.gear_category}}</td>
     </tr>
     <tr>
       <td>Weight</td>
       <td> {{object.weight}}</td>
     </tr>
   </tbody>
 </table>